################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FactoryMagix/config/applicationhost.config
/.vs/VSWorkspaceState.json
*.suo
*.sqlite
/FactoryMagix/bin
/FactoryMagix/obj